<html>
    <head>
    </head>
<body>
  <%= @name_01 %> attacked <%= @name_02 %> for 10HP!

  <form action="/play">
    <input type="submit" value="Back to Battle!" />
  </form>

</body>
</html>
